extends ./layouts/default.jade
block head
  title Administrador
block content
  div
    div
      form.panel.panel-default(action=formTarget, method="post")
        div.panel-heading
          h3.panel-title= titleForm
        div.panel-body
          if savedSuccess
            div.row
              div.alert.alert-success.col-md-10.col-md-offset-1(role="alert")
                | App saved!
          if errors
            .row
              div.col-md-10.col-md-offset-1.alert.danger
                ul
                  each val in errors
                    li= val.message
          div.form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=data.name)
            
          div.form-group
            label(for="secret") Secret
            input#secret.form-control(type="text", name="secret", readonly=readonly, value=data.secret)
            
          div.form-group
            label(for="status") Status
            select#status.form-control(name="status")
              each val in [{status: 1, label: "Published"}, {status: 0, label: "draft"}, {status: 9, label: "Deleted"}]
                if data.status == val.status
                  option(selected="selected", value=val.status)= val.label
                else
                  option(value=val.status)= val.label
          
          div.row
            div.col-sm-2.col-md-1.col-lg-1
              a.btn.btn-danger.glyphicon.glyphicon-chevron-left(role="button", href="/adm/apps/")= "Cancel"
            div.col-sm-2.col-sm-offset-8.col-md-1.col-lg-1.col-lg-offset-10.col-md-offset-10
              button.btn.btn-success(type="submit") 
                |   Save
                i.glyphicon.glyphicon-chevron-right  
            
      
              
