extends ./layouts/login.jade
block head
  title Administrador - Login
block content
    form#loginForm.panel.panel-default(action="" method="post")
      .panel-heading
        h3.panel-title Login
      .panel-body
        .form-group
          label(for="email") E-mail
          input#email.form-control(type="email", name="email")
        .form-group
          label(for="password") Password
          input#password.form-control(type="password", name="password")
        .form-group
          button.btn.btn-default(type="submit") Login
    
