extends ./layouts/default.jade
block head
  title Administrador
block content
  div
    div
      form.panel.panel-default(action=formTarget, method="post")
        div.panel-heading
          h3.panel-title= titleForm
        div.panel-body
          if savedSuccess
            div.row
              div.alert.alert-success.col-md-10.col-md-offset-1(role="alert")
                | Modality saved!
          if errors
            .row
              div.col-md-10.col-md-offset-1.alert.danger
                ul
                  each val in errors
                    li= val.message
          div.form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=data.name)
          
          div.row
            div.col-sm-2.col-md-1.col-lg-1
              a.btn.btn-danger.glyphicon.glyphicon-chevron-left(role="button", href="/adm/modalities/")= "Cancel"
            div.col-sm-2.col-sm-offset-8.col-md-1.col-lg-1.col-lg-offset-10.col-md-offset-10
              button.btn.btn-success(type="submit") 
                |   Save
                i.glyphicon.glyphicon-chevron-right  
            
      
              
