extends ./layouts/default.jade
block head
  title Administrador
block content
  div
    h1 Listing places
    if savedSuccess || deletedSuccess
      div.row
        div.alert.alert-success.col-md-12(role="alert")
          if savedSuccess
            | Place saved!
          if deletedSuccess
            | Place removed!
    #btnAdd.row
      .col-lg-12.col-sm-12.col-xs-12
        a.btn.btn-success.glyphicon.glyphicon-plus(role="button", href="/adm/places/new")= "Add Place"
    if data && data.length >= 1
      div.row
        div.col-md-12
          table.table.table-striped
            theader
              tr
                th ID
                th Name
                th Actions
            tbody
              each user in data
                tr
                  td= user.id
                  td= user.name
                  td
                    a.btn-xs.btn-primary.glyphicon.glyphicon-pencil(href="/adm/places/"+user.id) Editar
                    a.btn-xs.btn-danger.glyphicon.glyphicon-remove(href="/adm/places/"+user.id+"/delete") Deletar
    else
      p Nothing found

    
