extends ./layouts/default.jade
block head
  title Administrador
block content
  div
    h1 Listing Teams
    if savedSuccess || deletedSuccess
      div.row
        div.alert.alert-success.col-md-12(role="alert")
          if savedSuccess
            | Team saved!
          if deletedSuccess
            | Team removed!
    #btnAdd.row
      .col-lg-12.col-sm-12.col-xs-12
        a.btn.btn-success.glyphicon.glyphicon-plus(role="button", href="/adm/teams/new")= "Add Team"
    if data && data.length >= 1
      div.row
        div.col-md-12
          table.table.table-striped
            theader
              tr
                th ID
                th Name
                th Actions
            tbody
              each obj in data
                tr
                  td= obj.id
                  td= obj.name
                  td
                    a.btn-xs.btn-primary.glyphicon.glyphicon-pencil(href="/adm/users/"+obj.id) Editar
                    a.btn-xs.btn-danger.glyphicon.glyphicon-remove(href="/adm/users/"+obj.id+"/delete") Deletar
    else
      p Nothing found

    
