extends ./layouts/default.jade
block head
  title Administrador
block content
  div
    div
      form.panel.panel-default(action=formTarget, method="post")
        div.panel-heading
          h3.panel-title= titleForm
        div.panel-body
          if savedSuccess
            div.row
              div.alert.alert-success.col-md-10.col-md-offset-1(role="alert")
                | User saved!
          if errors
            .row
              div.col-md-10.col-md-offset-1.alert.danger
                ul
                  each val in errors
                    li= val.message
                
                    //region: {type: String},
                    //city: {type: String},
                    //uf: {type: String},
                    
                    
          div.form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=user.name)
          div.form-group
            label(for="description") Description
            br
            textarea#email.form-control(name="description" value=user.description)
          div.form-group
            label(for="uniform") Cor do uniforme
            input#uniform.form-control(type="text", name="uniform" value=user.uniform)
          div.form-group
            label(for="region") Região
            input#region.form-control(type="text", name="region", value=user.region)
          div.form-group
            label(for="uf") UF
            input#uf.form-control(type="text", name="uf", value=user.uf)
          div.form-group
            label(for="city") Cidade
            input#city.form-control(type="text", name="city", value=user.city)
          div.form-group
            label(for="owner_id") Dono
            select#owner_id.form-control(name="owner_id")
              each val in []
                if user.owner_id == val.id
                  option(selected="selected")= val.name
                else
                  option= val.name
          div.form-group
            label(for="file_id") Brasão:
            input#file_id(type="hidden", name="file_id" value=user.file_id)
            img(src="#")
            a.btn-primary.btn-xs
              | Alterar
          div.form-group
            label(for="category_id") Category:
            input#category_id.form-control(type="text", name="category_id" value=user.category_id)
          div.form-group
            label(for="modality_id") Modality:
            input#modality_id.form-control(type="text", name="modality_id" value=user.modality_id)
          div.row
            div.col-sm-2.col-md-1.col-lg-1
              a.btn.btn-danger.glyphicon.glyphicon-chevron-left(role="button", href="/adm/users/")= "Cancel"
            div.col-sm-2.col-sm-offset-8.col-md-1.col-lg-1.col-lg-offset-10.col-md-offset-10
              button.btn.btn-success(type="submit") 
                |   Save
                i.glyphicon.glyphicon-chevron-right  
            
      
              
