extends ./layouts/default.jade
block head
  title Administrador
block content
  div
    div
      form.panel.panel-default(action=formTarget, method="post")
        div.panel-heading
          h3.panel-title= titleForm
        div.panel-body
          if savedSuccess
            div.row
              div.alert.alert-success.col-md-10.col-md-offset-1(role="alert")
                | User saved!
          if errors
            .row
              div.col-md-10.col-md-offset-1.alert.danger
                ul
                  each val in errors
                    li= val.message
                
            
          div.form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=user.name)
          div.form-group
            label(for="email") E-mail
            input#email.form-control(type="email", name="email" value=user.email)
          div.form-group
            label(for="rg") RG
            input#rg.form-control(type="text", name="rg" value=user.rg)
          div.form-group
            label(for="cpf") CPF
            input#cpf.form-control(type="text", name="cpf", value=user.cpf)
          div.form-group
            label(for="telephone") Telephone
            input#telephone.form-control(type="text", name="telephone", value=user.cpf)
          div.form-group
            label(for="salt") Password
            input#salt.form-control(type="password", name="salt", value=user.salt)
          div.form-group
            label(for="type") Type
          div.form-group
            label.radio-inline
              input#type(type='radio', name='type', value='0', checked=(user.type == 0))
              |  User
            label.radio-inline
              input#type2(type='radio', name='type', value='1', checked=(user.type == 1))
              |  Admin
          div.form-group
            label(for="plays_at") Plays At:
            select#plays_at.form-control(name="plays_at")
              each val in ['', 'Goleiro', 'Meia', 'Atacante', 'Zagueiro', 'Volante', 'Lateral', 'Centro-avante']
                if user.plays_at == val
                  option(selected="selected")= val
                else
                  option= val
          div.row
            div.col-sm-2.col-md-1.col-lg-1
              a.btn.btn-danger.glyphicon.glyphicon-chevron-left(role="button", href="/adm/users/")= "Cancel"
            div.col-sm-2.col-sm-offset-8.col-md-1.col-lg-1.col-lg-offset-10.col-md-offset-10
              button.btn.btn-success(type="submit") 
                |   Save
                i.glyphicon.glyphicon-chevron-right  
            
      
              
