@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,300,300italic);
body {
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
}

#loginForm {
  width: 500px;
  margin: 0 auto;
}

.btn, .btn-xs {
  font-family: 'Open Sans', sans-serif;
}
.glyphicon:before {
  font-family: 'Glyphicons Halflings';
  vertical-align: middle;
  margin-right: 5px;
}

#btnAdd {
  margin-bottom: 20px;
}
